body {
    background-color: #C0CDCD;
    color: #556768;
    font: italic bold 36px URW Chancery, cursive;
    line-height: 48px;
}

.one {
    padding: 5px;
    margin: 40px;
    display: inline-block;
    max-width: 100%;
    text-align: left;

}
#contact {
    color: #3c4041;
}
#about {
    color: #3c4041;
}
#code {
    color: #3c4041;
}


.left {
    text-align: left;
    color: #3c4041;
}

.right {
    text-align: right;
    color: #3c4041;
    margin: 240px;
}
table {
    border-spacing: 10px 40px;
}
.code {
    background-color: #dfe7f0;
    text-align: left;
    margin: 5px;   
}